@charset "utf-8";

@import url("colorPallete.css");

.rectangle {
    position: absolute;
    width: 1000px;
    height: 1500px;
    left: -400px;
    top: -600px;
    transform: rotate(45deg);
    background-color: var(--cor6);
}

.rec2 {
    left: 1500px;
    top: 100px;
}

@media screen and (max-width: 768px) {
    .rectangle {
        left: -800px;
    }

    .rec2 {
        display: none;
    }
    
}