@charset "UTF-8";

:root {
    --cor1: #0A0B0D;
    --cor2: #2D3540;
    --cor3: #1C2026;
    --cor4: #A4A5A6;
    --cor5: #465059;
    --cor6: #D9D9D9;
}

.bg1 {
    background-color: var(--cor1);
}

.bg2 {
    background-color: var(--cor2);
}

.bg3 {
    background-color: var(--cor3);
}

.bg4 {
    background-color: var(--cor4);
}

.bg5 {
    background-color: var(--cor5);
}

.bg6 {
    background-color: var(--cor6);
}